##### Task 5

In [4]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}


From the above dictionary, do the following tasks

1.access "Mike"
2.access 80
3.change "Mike" to "Your name"
4.add ML = 80 and DL = 80 inside marks

In [5]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [6]:
# access "Mike" 

dict1["april_batch"]["student"]["name"]

'Mike'

In [7]:
# access 80 
dict1["april_batch"]["student"]["marks"]["python"]

80

In [8]:
# change "Mike" to "Nikitha"

dict1["april_batch"]["student"]["name"]= "Nikitha"

In [9]:
dict1

{'april_batch': {'student': {'name': 'Nikitha',
   'marks': {'python': 80, 'maths': 70}}}}

In [10]:
# add ML=80 and DL=80 inside the marks 

dict1["april_batch"]["student"]["marks"].update({"ML":80,"DL":80})

In [11]:
dict1

{'april_batch': {'student': {'name': 'Nikitha',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}